# macOS
.DS_Store

# Pebble build artefacts
build/
.lock-waf_darwin_build
.waf*-darwin-*
*.pbw
*.elf
*.bin
*.pbpack
*.resball
*.map
*.o

# Node artefacts
node_modules/
npm-debug.log*

# Editor/OS noise
*.swp
*.swo
*~
